/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif; ;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
    background-color: #f8f5f5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
}
p {
	font-size: .95em;
	max-width: 90%;
	margin: auto;
}
h2,
h3,
a {
	color: #093a58;
}
h1,
h2,
h3 {
	font-size: 16px;
}
a {
	text-decoration: none;
}
img {
	width: 90%;
	height: auto;
	margin: auto;
	padding: 0rem 0;
}

h2 {
    font: 700 1rem/1.2 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 3rem 0 2rem;
}

h3 {
    font: 500 1.5em/1 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem 0;
}

hr {
    width: 90%;
    height: 1px;
    background-color: #cacacd;
    border: none;
}

span {
    max-width: 90%;
    padding-top: 1rem;
}


/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
	/* max-width: 91%; */
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 0;
}
.main-nav a {
	font-size: .95em;
	color: #1e2753;
	text-transform: uppercase;
	background-color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	/* margin-left: 32px; */
	font-weight: 700;
}

.main-nav a:hover {
	color: #397499;
}

/* ---- Layout Containers ---- */

.main-header {
    max-width: 90%;
    margin: auto;
	padding-top: .35em;
	padding-bottom: .35em;
}
.banner,
.main-footer {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 3rem;
	padding-top: 1rem;
	justify-content: center;
}

.banner img {
    max-height: 150px;
    width: auto;
    padding-left: 15px;
}

.main-footer h2 {
    padding-bottom: 2rem;
}

.row {
    background-color: #fff;
    text-align: center;
    margin: auto;
    padding-bottom: 2em;
    max-width: 100%;
}

.columns {
    max-width: 95%;
    margin: auto;
}

.row p{
    padding-bottom: 2rem;
    
}

.address p {
    padding: .7rem;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.bottom-nav p:first-child {
    font-weight: 700;
    margin-left: 5%;
}

.bottom-nav p:nth-child(2) {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 5%;
}

.bottom-nav p {
    padding: 2rem 0;
    
}

.secondary-footer {
    display: none;
}



/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px){
    .main-header,
    .main-nav,
    .columns {
		display: flex;
		flex-direction: row;
		align-self: center;
		font-size: 16px;
	}

    .main-header,
    .secondary-footer {
        justify-content: space-between;
    }

    .main-header {
        max-width: 90%;
        margin: auto;
    }

    .main-nav a {
        background-color: #f8f5f5;
        padding-left: 24px;
        font-size: .85em;
    }

    .banner {
        margin: auto;
        flex-wrap: nowrap;
        max-width: 90%;
    }

    .logo {
        order: 1;
    }

    span {
        margin-bottom: auto;
        text-align: left;
        padding-left: 0;
    }

    .columns {
        flex-wrap: wrap;
    }

    .col {
        flex: 1 50%;
    }

    .col p{
        padding-bottom: 3rem;
    }

    .bottom-nav {
        display: none;
    }

    .name {
        font-size: 1.35em;
        margin: 0;
    }
    .main-nav {
        margin-top: 5px;
    }

    .secondary-footer,
    .second-nav{
        display: flex;
        flex-direction: row;
    }

    .secondary-footer {
        max-width: 90%;
        margin: auto;
    }
    
    .name-bottom,
    .second-nav {
        align-self: center;
   }

    .name-bottom a,
    .second-nav a {
        text-align: center;
        display: block;
    }

    .footer-inner p{
        max-width: 70%;
    }

    .second-nav a {
        font-size: .85em;
        padding-left: 24px;
        color: #1e2753;
        text-transform: uppercase;
        margin: 5px 0;
        font-weight: 700;
    }
    .second-nav a:hover {
        color: #397499;
    }

    .row {
        max-width: 90%;
    }

    

      
}


@media screen and (min-width: 1024px){

    .col {
        flex: 1 33%;
    }

}